.Buttons button {
  text-align: center;
    color: #fff;
    background-color: #9acd32;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #3d5214;
    width: 10%;
    height: 30px;
}

.Buttons button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
